In [1]:
%matplotlib inline
import sys
print(sys.version)
import numpy as np
print(np.__version__)
import pandas as pd
print(pd.__version__)
import matplotlib.pyplot as plt
from pandas_datareader import data, wb
from datetime import timedelta

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

3.5.1 |Anaconda 2.4.1 (x86_64)| (default, Dec  7 2015, 11:24:55)
[GCC 4.2.1 (Apple Inc. build 5577)]
1.11.0
0.18.0

In [11]:
hw = pd.read_csv('HomeWeatherData.csv')
del hw['Unnamed: 0']
hw.gmt = pd.to_datetime(hw.gmt)
hw['masterweatherID'] = hw['team'] + ' ' + hw['gmt'].apply(lambda x: str(x))
hw.head()

  stationID                 gmt  tempF  relhum  altibarom  team isclosable  altitude  localbarom           masterweatherID
0      KLGA 2015-10-11 04:51:00     57      62      30.07  mets      False        54      30.016  mets 2015-10-11 04:51:00
1      KLGA 2015-10-11 03:51:00     57      57      30.08  mets      False        54      30.026  mets 2015-10-11 03:51:00
2      KLGA 2015-10-11 02:51:00     57      55      30.08  mets      False        54      30.026  mets 2015-10-11 02:51:00
3      KLGA 2015-10-11 01:51:00     59      48      30.07  mets      False        54      30.016  mets 2015-10-11 01:51:00
4      KLGA 2015-10-11 00:51:00     60      46      30.09  mets      False        54      30.036  mets 2015-10-11 00:51:00

In [9]:
hw.dtypes

stationID                  object
gmt                datetime64[ns]
tempF                       int64
relhum                      int64
altibarom                 float64
team                       object
isclosable                   bool
altitude                    int64
localbarom                float64
masterweatherID            object
dtype: object

In [14]:
pitches = pd.read_csv('all-stadiums_short.csv')
del pitches['Unnamed: 0']
pitches['tfs_zulu'] = pd.to_datetime(pitches['tfs_zulu'])
pitches['masterpitchID'] = pitches['stadium'] + ' ' + pitches['tfs_zulu'].apply(lambda x: str(x))
pitches.head()

                             name  player_id pitch_type     pitch_result atbat_result  start_speed     z0     x0  pfx_x   pfx_z     px     pz  break_angle  break_length  spin_rate  spin_dir  zone  balls  strikes  outs                                               play  game_date  inning inning_topbot     tfs            tfs_zulu  catcher  umpire     umpire_name  stolen_base_attempt  stolen_base_success batted_ball_type  Unnamed: 32  angle  batted_ball_velocity  direction    hc_x    hc_y  pitch_id  distance_feet stadium               masterpitchID
0  Aaron Sanchez                      592717         FT  In play, out(s)    Groundout         97.1  6.141 -1.200 -8.790   6.320 -0.220  3.017         39.9           5.2   2282.893   234.149   2.0      1        2     0  Erick Aybar grounds out softly, first baseman ...  8/23/2015       8           bot  222218 2015-08-23 22:22:18   425900  427197  Chris Guccione                    0                    0               GB          NaN    NaN                   NaN        NaN  144.76  175.20       614            NaN  angels  angels 2015-08-23 22:22:18
1  Adam Warren                        476589         FF             Ball    Strikeout         95.2  5.772 -1.043 -1.087  10.328  0.635  1.528          3.4           3.1   2095.332   185.987  14.0      2        2     2                 Mike Trout strikes out swinging.    6/30/2015       7           bot   41306 2015-07-01 04:13:06   435263  427454  Paul Schrieber                    0                    0              NaN          NaN    NaN                   NaN        NaN    0.00    0.00       401            NaN  angels  angels 2015-07-01 04:13:06
2  Adam Warren                        476589         FF             Ball    Strikeout         94.0  5.823 -1.328 -2.981   9.494 -1.397  2.900         19.1           3.6   1982.223   197.361  11.0      2        2     1              David Freese called out on strikes.    6/30/2015       8           bot   42841 2015-07-01 04:28:41   435263  427454  Paul Schrieber                    0                    0              NaN          NaN    NaN                   NaN        NaN    0.00    0.00       448            NaN  angels  angels 2015-07-01 04:28:41
3  Adam Warren                        476589         SL    Called Strike    Strikeout         87.0  5.954 -1.603  3.117   4.649 -1.251  2.709        -11.4           6.3   1051.842   146.414  11.0      3        2     1              David Freese called out on strikes.    6/30/2015       8           bot   42908 2015-07-01 04:29:08   435263  427454  Paul Schrieber                    0                    0              NaN          NaN    NaN                   NaN        NaN    0.00    0.00       449            NaN  angels  angels 2015-07-01 04:29:08
4  Adam Warren                        476589         CU  In play, out(s)    Groundout         79.4  6.193 -1.373  0.692  -4.629  0.477  1.987         -2.4          11.5    788.220     8.595   9.0      0        1     0  Umpire reviewed (play at 1st), call on the fie...  6/30/2015       7           bot   40801 2015-07-01 04:08:01   435263  427454  Paul Schrieber                    0                    0               GB          NaN    0.0                  60.0        NaN  106.00  174.57       388            0.0  angels  angels 2015-07-01 04:08:01

In [15]:
pitches.columns
pitches.shape
pitches.dtypes

name                            object
player_id                        int64
pitch_type                      object
pitch_result                    object
atbat_result                    object
start_speed                    float64
z0                             float64
x0                             float64
pfx_x                          float64
pfx_z                          float64
px                             float64
pz                             float64
break_angle                    float64
break_length                   float64
spin_rate                      float64
spin_dir                       float64
zone                           float64
balls                            int64
strikes                          int64
outs                             int64
play                            object
game_date                       object
inning                           int64
inning_topbot                   object
tfs                              int64
tfs_zulu                datetime64[ns]
catcher                          int64
umpire                           int64
umpire_name                     object
stolen_base_attempt              int64
stolen_base_success              int64
batted_ball_type                object
Unnamed: 32                    float64
angle                          float64
batted_ball_velocity           float64
direction                      float64
hc_x                           float64
hc_y                           float64
pitch_id                         int64
distance_feet                  float64
stadium                         object
masterpitchID                   object
dtype: object

In [25]:
team = 'yankees'    #will be ---> for team in hw['team'].unique():
timekey = pd.Series(hw['masterweatherID'])
timekey.index = hw['gmt']
timekey_team = timekey[timekey.map(lambda x: x.split(' ')[0] == team)].sort_values()
# timekey_team.sample(25)
# timekey.sample(25)
timekey_team.head(3)

gmt
2015-03-30 05:51:00    yankees 2015-03-30 05:51:00
2015-03-30 06:51:00    yankees 2015-03-30 06:51:00
2015-03-30 07:51:00    yankees 2015-03-30 07:51:00
Name: masterweatherID, dtype: object

In [26]:
weathertimes_team = pitches['tfs_zulu'][pitches.stadium == team].sort_values()
weathertimes_team.head(3)

68653   2015-04-06 17:23:26
69471   2015-04-06 17:28:19
69469   2015-04-06 17:29:20
Name: tfs_zulu, dtype: datetime64[ns]

In [29]:
pitch_to_weathsamp = timekey_team.asof(weathertimes_team)
pitch_to_weathsamp = pitch_to_weathsamp[pitch_to_weathsamp.map(lambda x: type(x)==str)]  #removes NaN
# timekey.asof(selection)   map(lambda x: type(x)).

In [233]:
#pitchmaster = pd.DataFrame(pitch_to_weathsamp)  #this will be the final final dbase
for team in hw['team'].unique():
    timekey = pd.Series(pitches['masterpitchID'], index=pitches['tfs_zulu'])
    timekey_team = timekey[timekey.map(lambda x: x.split(' ')[0] == team)].sort_values()
    weathertimes_team = hw['gmt'][hw.team == team].sort_values()
    pitch_to_weathsamp = timekey_team.asof(weathertimes_team)
    # last line is to merge the weather into the pitch dbase using the 
    #pitchmaster = pd.DataFrame(pitch_to_weathsamp)
    #pitchmaster = pd.merge(pitch_to_weathsamp, pitches, how='inner')